@charset "utf-8";
/* CSS Document */

body {
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-weight: 150;
	font-size: 15px;
	line-height: 40px;
	color: #261717;
	background: #FFFFFF;
}

.container {
	width: 1366px;
	height: 1000px;
	margin: 0 auto;
}

#head {
  text-align: center;
  height: 208px;
}

.field {
	height: 400px
}

.navbar {
  width: 100%;
  background-color: black;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 15px;
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  width: 22.80%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #4D54EF;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #4CAF50;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 1000px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }

}

